{% extends "layout.html" %}
{% block content %}
    <h2>By Thierno Diallo - University of Virginia '20</h2>
    <h4>Credits/Citation:</h4>
    Schafner, Corey. “Python Flask Tutorial: Full-Featured Web App Part 2 - Templates.” YouTube,
    YouTube, 4 May 2018, www.youtube.com/watch?v=QnDWIZuWYW0.
    <br/><br/>

    Chawla, Shaantam. “Flask Web Development Tutorial #3: Web Forms.” YouTube,
    YouTube, 22 July 2016, www.youtube.com/watch?v=IIi6e5oDZ68&t=321s.
    <br/><br/><br/><br/>
    Format and layout of website was learned from and inspired by the two sources above.
    <br/>
    Actual interface and funtions of gPodder v2.0 were developed by Thierno Diallo.
{% endblock content %}