{% extends "layout.html" %}
{% block content %}
    <h5>Select Genre:</h5>
    <form method = "POST" action="/search_by_genre">
        <div class = "form-group">
        </div>
        <input type="submit" name="submit" value="Art">
        <input type="submit" name="submit" value="Comedy"><br/><br/>
        <input type="submit" name="submit" value="Educational">
        <input type="submit" name="submit" value="Gaming"><br/><br/>
        <input type="submit" name="submit" value="Music">
        <input type="submit" name="submit" value="News"><br/><br/>
        <input type="submit" name="submit" value="Politics">
        <input type="submit" name="submit" value="Sci-Fi"><br/><br/>
        <input type="submit" name="submit" value="Sports">
        <input type="submit" name="submit" value="Technology"><br/><br/>
        <input type="submit" name="submit" value="Other:">
        <input type ="text" name ="other_genre">
    </form>
    (Search wait time may be up to 10-20 seconds)
{% endblock content %}