{% extends "layout.html" %}
{% block content %}
    <h2>Results:</h2>
    {% for result in results_popularity %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ result.subscriptions }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ result.title }}</a></h2>
            <p class="article-content">{{ result.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}